<%- include('../partials/head') %>

<h1>Server Error</h1>
<p>Sorry — something went wrong on the server.</p>
<% if (error) { %>
  <pre><%= error.stack %></pre>
<% } %>

<%- include('../partials/footer') %>
